/**
 * Reset
 */
 * {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

/**
 * Eléments génériques
 */
button {

    height: 25px;
    margin-top: 5px;
}

#divTable {
    margin-top : 20px;
}

#name {
    height : 50px;
    font-size : 2em;
}

#presentation {
    color : red;
    font-size : 2em;
}
